<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DigiMine</title>

        <link rel="stylesheet" href="styles/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="styles/owl/owl.theme.default.min.css">

        <link href="styles/fonts.css" rel="stylesheet" type="text/css">
        <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="styles/homepageanimate.css" rel="stylesheet" type="text/css">
        <link href="styles/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="styles/homepage.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header>
            <div class="header-wrapper">
                    <div class="header-top">
                        <div class="container-fluid">
                            <div class="row top-show">
                                <div class="col-xs-12 col-md-8 hidden-xs text-center" style="padding:0px;">
                                    <ul class="list-inline contact-link">
                                        <li><a href="#">2017-09-01 17:11:41</a></li>
                                        <li><a href="#">421.4 Ph/s</a></li>
                                        <li><a href="#">Bitcoin: $4228 USD</a></li>
                                        <li><a href="#">Ethereum: $330 USD</a></li>
                                        <li><a href="#">Zcash: $280 USD</a></li>
                                        <li><a href="#">Litecoin: $80 USD</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-4 text-center" style="padding: 0px;">
                                    <ul class="list-inline social">
                                        <li><img src="images/header-logo.png" width="190" alt="" class="img-responsive"/></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-youtube"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-facebook"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-twitter"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row top-hidden">
                                <div class="col-md-9 hidden-xs text-center" style="padding:0px;">
                                    <ul class="list-inline contact-link">
                                        <li><a href="#">2017-09-01 17:11:41</a></li>
                                        <li><a href="#">421.4 Ph/s</a></li>
                                        <li><a href="#">Bitcoin: $4228 USD</a></li>
                                        <li><a href="#">Ethereum: $330 USD</a></li>
                                        <li><a href="#">Zcash: $280 USD</a></li>
                                        <li><a href="#">Litecoin: $80 USD</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3" style="padding: 5px 0px;">
                                    <ul class="list-inline social" style="margin-right: 10px;float: right;">
                                        <li><a target="_blank" href="#" class="face item fa fa-youtube"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-facebook"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-twitter"></a></li>
                                        <li><a target="_blank" href="#" class="face item fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom f-zero">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 logo f-center hidden-xs"> 
                                    <a href="/">
                                        <img src="images/Logo-2.png" width="120.5" height="57" class="img-responsive marg-auto-xs" alt="DigiMine" title="DigiMine" />
                                    </a> 
                                </div>
                                <div class="col-xs-12 col-sm-10 menu-sec f-center">
                                    <div class="navbar navbar-inverse" id="Sticky">
                                        <div class="navbar-header">
                                            <a href="#" class="visible-xs">
                                                <img src="images/logo.jpg" width="145" class="img-responsive marg-auto-xs" alt="DigiMine" title="DigiMine"/>
                                            </a> 
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                                        </div>
                                        <div class="collapse navbar-collapse" id="myNavbar">
                                            <div class="col-xs-12 col-sm-8 text-center">
                                                <ul class="nav navbar-nav navigation-link">
                                                    <li class="active"><a href="/">Home</a></li>
                                                    <li><a class="page-scroll" href="works">How it works</a></li>
                                                    <li><a class="page-scroll" href="pricing">Pricing</a></li>
                                                    <li><a class="page-scroll" href="/">Pool Statistics</a></li>
                                                    <li><a class="page-scroll" href="faq">FAQ</a></li>
                                                    <li><a class="page-scroll" href="about">About Us</a></li>
                                                    <li><a class="page-scroll" href="contact">Contact Us</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="nav navbar-nav navbar-right login-link">
                                                    <li>
                                                        <a href="signup">
                                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> REGISTER
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="login">
                                                            <i class="fa fa-lock" aria-hidden="true"></i> LOGIN
                                                        </a>
                                                    </li>

                                                    <li class="dropdown choose-language">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe" aria-hidden="true"></i> <span class="hidden-sm">SELECT <!-- YOUR  -->LANGUAGE</span> <img src="images/flag.png" width="20" alt=""/> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><img src="images/flag.png" width="20" alt="">England</a></li>
                                                            <li><a href="#"><img src="images/flags/shiny/16/Spain.png"  width="20"  alt=""/>Spain</a></li>
                                                            <li><a href="#"><img src="images/flags/shiny/16/Russia.png"  width="20"  alt=""/>Russian</a></li>
                                                            <li><a href="#"><img src="images/flags/shiny/16/China.png"  width="20"  alt=""/>China</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </header>
        <div class="page-header-banner-wrapper">
            <div class="col-sm-12 text-center header-container">
                <h1 Class="banner-title">Professional Crypto Currency Mining Services</h1>
                <div class="banner_text">
                    <p>Buy hash power and start mining the cryptocurrency of your choice. Sign up and start earning coins today.
                    Switch between coins of your choice without signing a new contract to maximise your profits as the market changes. A service unique to DigiMine.
                    </p>
                </div>
                <ul class="list-inline mobile">
                    <li><a class="btn btn-theme inverse" href="#">New DigiMine Pool AI</a></li>
                    <li><img src="images/step0.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Powerful Dashboard</a></li>
                    <li><img src="images/step0.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Advanced Monitoring</a></li>
                    <li><img src="images/step0.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Rule the Pool</a></li>
                </ul>
                <ul class="list-inline desktop">
                    <li><a class="btn btn-theme inverse" href="#">New DigiMine Pool AI</a></li>
                    <li><img src="images/step.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Powerful Dashboard</a></li>
                    <li><img src="images/step.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Advanced Monitoring</a></li>
                    <li><img src="images/step.png"></li>
                    <li><a class="btn btn-theme inverse" href="#">Rule the Pool</a></li>
                </ul>
                <ul class="list-inline">
                    <li><a class="btn btn-theme " href="/pricing" style="position:relative; margin:0px 10px; letter-spacing: 2px; padding: 13px 41px; border-radius: 30px;">SEE PRICING</a></li>
                    <li><a class="btn btn-theme " href="/signup" style="position:relative; margin:0px 10px; letter-spacing: 2px; border-radius: 30px;">SIGN UP HERE</a></li>
                </ul>
            </div>
        </div>
        <div class="page-header-banner"></div>
        <section id="how-works" >
            <div class="container-fluid service-slider">
                <div class="container text-center">
                    <h1>How it works</h1>
                    <div class="row how-it-works-items">
                        <div class="col-md-4 item">
                            <h4><!-- Hardware --></h4>
                            <div class="image">
                                <img class="" src="images/headset.png" alt="Hardware">
                            </div>
                            <div class="desc">
                               Choose A Subscription
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <h4><!-- Pools --></h4>
                            <div class="image">
                                <img class="" src="images/coin2.png" alt="Pools">
                            </div>
                            <div class="desc">
                                Main The Coin Of Your Choice
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <h4><!-- Payout --></h4>
                            <div class="image">
                                <img class="" src="images/coin.png" alt="Payout">
                            </div>
                            <div class="desc">
                                Earn Your Return
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </section>
        <section>
            <div class="credit-payment">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col col-md-7">
                                <span class="payment-text">Creditcard Payments Available</span>
                            </div>
                            <div class="col col-md-5">
                                <ul class="payment-list">
                                    <li><img src="images/PayPal-logo.png"></li>
                                    <li><img src="images/PayPal-logo-2.png"></li>
                                    <li><img src="images/PayPal-logo-3.png"></li>
                                    <li><img src="images/PayPal-logo-4.png"></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-3 text-center" style="text-align: center;">
                            <a href="" class="payment-action"><span>TRY IT NOW</span></a>
                        </div>
                    </div>   
                </div>
                                
            </div>
        </section>
        <section >
            <div class="container-fluid">
                    <h1 style="margin-bottom: 40px;">Testimonial</h1>
                    <div class="owl-carousel owl-theme" id="testimonial">
                        <div class="item ">
                            <div class="row item-wrapper">
                                <div class="col-sm-3">
                                    <div class="item-img">
                                        <img src="images/testimonial1.png" alt="" class="img-responsive ">
                                    </div>
                                </div>
                                <div class="col-sm-8 copy-img">
                                    <span><strong>Guy Corem</strong></span>
                                    <p>CEO Spondoolies-Tech
                                        Leading Bitcoin Asic
                                        Manufacturing Company</p>
                                </div>
                            </div>
                            <div class="item-text">
                                <p>DigiMine is one of the leading cloudmining companies and a trustworthy partner of ours. It's good to see that they are an honest cloudmining service which shows their farms openly to the public.</p>
                            </div>                           
                        </div>
                        <div class="item ">
                            <div class="row item-wrapper">
                                <div class="col-sm-3">
                                    <div class="item-img">
                                        <img src="images/testimonial2.png" alt="" class="img-responsive ">
                                    </div>
                                </div>
                                <div class="col-sm-8 copy-img">
                                     <span><strong>Guy Corem</strong></span>
                                    <p>CEO Spondoolies-Tech
                                        Leading Bitcoin Asic
                                        Manufacturing Company</p>
                                </div>
                            </div>
                            <div class="item-text">
                                <p>DigiMine is one of the leading cloudmining companies and a trustworthy partner of ours. It's good to see that they are an honest cloudmining service which shows their farms openly to the public.</p>
                            </div>                           
                        </div>
                        <div class="item ">
                            <div class="row item-wrapper">
                                <div class="col-sm-3">
                                    <div class="item-img">
                                        <img src="images/testimonial3.png" alt="" class="img-responsive ">
                                    </div>
                                </div>
                                <div class="col-sm-8 copy-img">
                                     <span><strong>Guy Corem</strong></span>
                                    <p>CEO Spondoolies-Tech
                                        Leading Bitcoin Asic
                                        Manufacturing Company</p>
                                </div>
                            </div>
                            <div class="item-text">
                                <p>DigiMine is one of the leading cloudmining companies and a trustworthy partner of ours. It's good to see that they are an honest cloudmining service which shows their farms openly to the public.</p>
                            </div>                           
                        </div>
                        <div class="item ">
                            <div class="row item-wrapper">
                                <div class="col-sm-3">
                                    <div class="item-img">
                                        <img src="images/testimonial4.png" alt="" class="img-responsive ">
                                    </div>
                                </div>
                                <div class="col-sm-8 copy-img">
                                     <span><strong>Guy Corem</strong></span>
                                    <p>CEO Spondoolies-Tech
                                        Leading Bitcoin Asic
                                        Manufacturing Company</p>
                                </div>
                            </div>
                            <div class="item-text">
                                <p>DigiMine is one of the leading cloudmining companies and a trustworthy partner of ours. It's good to see that they are an honest cloudmining service which shows their farms openly to the public.</p>
                            </div>                           
                        </div>
                        
                    </div>
            </div>
        </section>
        <section id="news" >
            <div class="container-fluid">
                <div class="text-center">
                    <h1>New</h1>
                    <div class="row news-items">
                        <div class="col-md-4 item">
                            <h4><!-- Hardware --></h4>
                            <div class="news-image">
                                <img class="" src="images/bitcoin.png" alt="Hardware">
                            </div>
                            <div class="news-text">
                                <ul class="text-group">
                                    <li><span class="title"><strong> PROIND ID INTERDUM DIAM</strong></span></li>
                                    <li><span class="date" >29 August &nbsp;</span>2017</li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetur adipsing elit. Donec elementuiam nisl, sed iaculis purus feugiat edgt kellentesque. <a href="">Read More</a>
                                    </p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <h4><!-- Pools --></h4>
                            <div class="news-image">
                                <img class="" src="images/bitcoin2.png" alt="Pools">
                            </div>
                            <div class="news-text">
                                <ul class="text-group">
                                    <li><span class="title"><strong> PROIND ID INTERDUM DIAM</strong></span></li>
                                    <li><span class="date" >29 August &nbsp;</span>2017</li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetur adipsing elit. Donec elementuiam nisl, sed iaculis purus feugiat edgt kellentesque. <a href="">Read More</a>
                                    </p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <h4><!-- Payout --></h4>
                            <div class="news-image">
                                <img class="" src="images/bitcoin3.png" alt="Payout">
                            </div>
                            <div class="news-text">
                                <ul class="text-group">
                                    <li><span class="title"><strong> PROIND ID INTERDUM DIAM</strong></span></li>
                                    <li><span class="date" >29 August &nbsp;</span>2017</li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetur adipsing elit. Donec elementuiam nisl, sed iaculis purus feugiat edgt kellentesque. <a href="">Read More</a>
                                    </p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </section>
        <footer>
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-8">
                        <div class="row footer-logo">
                            <div class="col-md-7">
                                <span class="logo-text"><p>Member Area: </p>&nbsp;&nbsp;if you don't have an account, sign up for free</span>
                            </div>
                            <div class="col-md-5" style="padding: 0;">
                                <div class="col-xs-6">
                                <a href="/signup" class="footer-signup">SIGN UP</a>
                                </div>
                                <div class="col-xs-6">
                                <a href="/login" class="footer-login">LOGIN</a>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="row footer-menu-link">
                            <ul class="footer-link">
                                <li style="font-size: 18px; margin-top: -2px;">Quick Links:</li>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/works">HOW IT WORKS</a></li>
                                <li><a href="/pricing">PRICING</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/about">ABOUT US</a></li>
                                <li><a href="/contact">CONTACT US</a></li>
                                <li><a  data-toggle="modal" data-target="#myModal6">PRIVACY</a></li>
                            </ul>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 footer-social-link">
                        <h3>Follow Us</h3>
                        <ul class="list-inline ">
                            <li><a target="_blank" href="#" class="face item fa fa-facebook"></a></li>
                            <li><a target="_blank" href="#" class="face item fa fa-twitter"></a></li>
                            <li><a target="_blank" href="#" class="face item fa fa-google-plus"></a></li>
                            <li><a target="_blank" href="#" class="face item fa fa-youtube"></a></li>

                        </ul>
                </div>
                <div class="col-xs-12">
                    <span class="copyright">Copyright @ 2017 DigiMine All rights reserved.</span>
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type='text/javascript' src='js/jquery-1.12.4.min.js'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type='text/javascript' src="js/bootstrap.min.js"></script>
        <!-- <script type='text/javascript' src='js/custom.js'></script> -->
        <script type='text/javascript' src="js/wow.min.js"></script>
        <script type='text/javascript' src="js/owl/jquery.min.js"></script>
        <script type='text/javascript' src="js/owl/owl.carousel.js"></script>
        <script type="text/javascript" src="js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="js/home.js"></script>
        <script type='text/javascript' >
            new WOW().init();
        </script>
        <script>
            function collapseNavbar() {
                if ($(".header-wrapper").offset().top > 50) {
                    //console.log($(".header-wrapper").offset().top );
                    $(".header-top").hide();
                    // $(".navbar-fixed-top").addClass("top-nav-collapse");
                } else {
                    $(".header-top").fadeIn();
                    // $(".navbar-fixed-top").removeClass("top-nav-collapse");
                     // console.log($(".header-wrapper").offset().top );
                }
            }

            $(window).scroll(collapseNavbar);
            $(document).ready(collapseNavbar);
        </script>

        <!-- <script type='text/javascript' src='js/scroll.js'></script> -->
            <script src="/js/dependencies/sails.io.js"></script>
    <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <!-- <h4 class="modal-title">Modal title</h4>
                    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
                </div>
                <div class="modal-body row">
                    <div class="col-md-12 modal-body-logo text-center">
                      <img src="images/Logo-2.png" >
                    </div>
                    <div class="col-md-12  modal-body-title">
                      <div class="col-md-10 text-center col-md-push-1 modal-body-title-terms"> 
                        <h2>DIGIMINE WEBSITE </h2>
                      <h2> PRIVACY POLICY</h2>
                    </div>
                    <div class="col-md-12 text-center modal-body-title-date">
                      <h3>DATED: THE 21st DAY OF October 2017</h3>
                    </div>
                    <div class="col-md-12 modal-body-container ">
                      <h2 class="text-center">WEBSITE PRIVACY POLICY</h2>
                            This web site is owned and operated by Digimine  and will be referred to as "We", "our" and 
                            "us" in this Internet Privacy Policy. By using this site, you agree to the Internet Privacy 
                            Policy of this web site ("the  web site"), which is set out on this web site page. The Internet 
                            Privacy Policy relates to the collection and use of personal information you may supply to us 
                            through your conduct on the web site.
                            We reserve the right, at our discretion, to modify or remove portions of this Internet Privacy 
                            Policy at any time. This Internet Privacy Policy is in addition to any other terms and 
                            conditions applicable to the web site. We do not make any representations about third party 
                            web sites that may be linked to the web site. 
                            We recognise the importance of protecting the privacy of information collected about visitors 
                            to our web site, in particular information that is capable of identifying an individual 
                            ("personal information"). This Internet Privacy Policy governs the  manner in which your 
                            personal information, obtained through the web site, will be dealt with. This Internet Privacy 
                            Policy should be reviewed periodically so that you are updated on any changes. We welcome 
                            your comments and feedback. 
                            <h3>Personal Information</h3>
                            1.  Personal information about visitors to our site is collected only when knowingly and 
                            voluntarily submitted. For example, we may need to collect such information to provide 
                            you with further services or to answer or forward any requests or enquiries. It is our 
                            intention that this policy will protect your personal information from being dealt with in 
                            any way that is inconsistent with applicable privacy laws in Australia. 
                            <h3>Use of Information</h3>
                            2.  Personal information that visitors submit to our site is used only for the purpose for 
                            which it is submitted or for such other secondary purposes that are related to the 
                            primary purpose, unless we disclose other uses in this Internet Privacy Policy or at the 
                            time of collection. Copies of correspondence sent from the web site, that may contain 
                            personal information, are stored as archives for record-keeping and back-up purposes 
                            only. 
                            Collecting information on Registered members
                            3.  As part of registering with  us, we collect personal information about you in order for 
                            you to take full advantage of  our  services. To do this it may be necessary for you to 
                            provide additional information to us as detailed below.
                            4.  Registration
                            Registration is  mandatory if you wish to use the services  provided by  us. Registration 
                            may include  submitting your name, email address, address, telephone numbers, option 
                            on receiving updates and promotional material  and other information. You may access 
                            this information at any time by logging in and going to your account. 
                            Credit Card Details
                            5.  Credit Card details are only  stored  for the processing of payment and will be deleted 
                            once payment is processed.
                            <h3>Disclosure</h3>
                            6.  Apart from where you have consented or disclosure is necessary to achieve the purpose 
                            for which it was submitted, personal information may be disclosed in special situations 
                            where we have reason to believe that doing so is necessary to identify, contact or bring 
                            legal action against anyone damaging, injuring, or interfering (intentionally or 
                            unintentionally) with our rights or property, users, or anyone else who could be harmed 
                            by such activities. Also, we may disclose personal information when we believe in 
                            good faith that the law requires disclosure. 
                            7.  We may engage third parties to provide you with goods or services on our behalf. In 
                            that circumstance, we may disclose your personal information to those third parties in 
                            order to meet your request for goods or services. 
                            <h3>Security</h3>
                            8.  We strive to ensure the security, integrity  and privacy of personal information 
                            submitted to our sites, and we review and update our security measures in light of 
                            current technologies. Unfortunately, no data transmission over the Internet can be 
                            guaranteed to be totally secure. 
                            9.  However, we will  endeavour to take all reasonable steps to protect the personal 
                            information you may transmit to us or from our online products and services. Once we 
                            do receive your transmission, we will also make our best efforts to ensure its security 
                            on our systems. 
                            10.  In addition, our employees and the contractors who provide services related to our 
                            information systems are obliged to respect the confidentiality of any personal 
                            information held by us. However, we will not be held responsible for events arising 
                            from unauthorised access to your personal information.
                            Collecting Information from Users 
                            11.  IP Addresses
                            Our  web servers gather your IP address to assist with the diagnosis of problems or 
                            support issues with our services. Again, information is gathered in aggregate only and 
                            cannot be traced to an individual user. 
                            12.  Cookies and Applets
                            We use cookies to provide you with a better experience. These cookies allow us to 
                            increase your security by storing your  session  ID and are  a  way of monitoring single 
                            user access.
                            This aggregate, non-personal information is collated and provided to us to assist in 
                            analysing the usage of the site. 
                            <h3>Access to Information</h3>
                            13.  We will endeavour to take all reasonable steps to keep secure any information which 
                            we hold about you, and to keep this information accurate and up to date. If, at any time, 
                            you discover that information held about you is incorrect, you may contact us to have 
                            the information corrected. 
                            14.  In addition, our employees and the contractors who provide services related to our 
                            information systems are obliged to respect the confidentiality of any personal 
                            information held by us. 
                            <h3>Links to other sites</h3>
                            15.  We provide links to Web sites outside of our web sites, as well as to third party Web 
                            sites. These linked sites are not under our control, and we cannot accept responsibility 
                            for the conduct of companies linked to our website. Before disclosing your personal 
                            information on any other website, we advise you to examine the terms and conditions 
                            of using that Web site and its privacy statement. 
                            <h3>Problems or questions</h3>
                            16.  If we become aware of any ongoing concerns or problems with our web sites, we will 
                            take these issues seriously and work to address these concerns. If you have any further 
                            queries relating to our Privacy Policy, or you have a problem or complaint, please 
                            contact us.
                            17.  For more information about privacy issues in Australia and protecting your privacy, 
                            visit the Australian Federal Privacy Commissioner's web site;
                    </div>

                      
                     
                      

                    </div>

                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    </body>
</html>